/* {
    border: 1px solid red !important;
} */

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #777;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

header {
    margin-top: 20px;
}

hr {
    border-color: #008080;
    border-width: 3px;
}

.super-title {
    font-size: 3.5em;
}

.thin {
    font-weight: 100;
}

.thick {
    font-weight: 400;
}

.faded {
    color: #BBB;
}

.url-wrapper {
     word-wrap: break-word;
}

.modal-dialog {
    width: 332px;
}
