/* {
    border: 1px solid red !important;
} */

body {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #777;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    width: 100%;
}

header {
    margin-top: 20px;
}

.super-title {
    font-size: 3.5em;
}

.thin {
    font-weight: 100;
}

.thick {
    font-weight: 400;
}

.faded {
    color: #BBB;
}

.url-wrapper {
     word-wrap: break-word;
}


/**
.grid {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

.row {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.title {
    text-align: right;
}

.examples {
    text-align: center;
}

.logo {
    margin: auto;
}

header {
    border-bottom-style: solid;
    border-bottom-color: #008080;
    padding: 20px 0;
    font-weight: 300;
    color: #777;
    height: 160px;
}

h1, h3 {
    text-transform: uppercase;
}

header h1 {
    font-weight: 100;
    font-size: 3.5em;
    margin-bottom: 10px;
    margin-top: 20px;
}

header h3 {
    font-weight: 400;
    margin-top: auto;
}

h2 {
    color: #BBB;
    font-weight: 300;
    font-size: 2.2em;
}

aside{
    max-width: 300px;
}

aside h3{
    color: #777;
    font-size: 2em;
    font-weight: 300;
    margin: 10px;
}

aside h4 {
    color: #777;
    font-weight: 300;
    margin-top: auto;
}

aside p {
    color: #BBB;
    font-weight: 100;
    margin: auto;
    word-wrap: break-word;
}

*/
